<?xml version="1.0" encoding="UTF-8"?>
<beans>

  <bean id="pad1" class="com.maomao2.spring.beans.creation.Pad" scope="singleton">
    <constructor-arg>
      <value type="java.lang.Double">1999.9</value>
    </constructor-arg>
  </bean>
  <!-- 懒加载 -->
  <bean id="pad2" class="com.maomao2.spring.beans.creation.Pad" lazy-init="true"
    autowire="no"></bean>

  <bean id="person" class="com.maomao2.spring.beans.creation.Person" autowire="byName">
    <property name="name" value="Yrion" ></property>
    <property name="address" value="earth"></property>
    <property name="phone" value="12222222222"></property>
  </bean>

  <bean id = "person2" class="com.maomao2.spring.beans.creation.Person">-->
    <constructor-arg type="java.lang.String" value="wukong"></constructor-arg>
    <constructor-arg ref="pad1"></constructor-arg>
  </bean>
</beans>